#eat {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #B3E5FC;
  text-align: center;
  #eat-buttons {
    padding: 10px;
  }
  button {
    padding: 4px;
    margin: 10px;
    border-radius: 4px;
  }
  h1 {
    margin-bottom: 0;
  }
}
