$eat-width: 100%;

#eat {
  position: fixed;
  top: 0;
  left: 0;
  background-color: yellow;
  text-align: center;
  #eat-buttons {
    padding: 10px;
  }
  button {
    padding: 4px;
    margin: 10px;
    border-radius: 4px;
  }
  h1 {
    margin-bottom: 0;
  }
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 250px;
  height: 1em;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}