#play {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #0198E1;
  text-align: center;
  #play-buttons {
    padding: 10px;
  }
  button {
    padding: 4px;
    margin: 10px;
    border-radius: 4px;
  }
  h1 {
    margin-bottom: 0;
  }
}

