@import "../javascripts/components/eat/eat.scss";
@import "../javascripts/components/play/play.scss";

body {
  background-color: green;
}

.quad {
  width: 50%;
  height: 50%;
}

#fight {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: blue;
}

#sleep {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: green;
}